<h2>
  All Transactions
</h2>
<sm-segment>
  <Form onSubmit={this.handleNewTransaction}>
    <div class="ui two column grid">
      <div class="column">
        <div class="ui segment">
          <select class="ui dropdown" [(ngModel)]="filterYear" (change)="selectionChange()" name="selectyear">
            <option *ngFor="let y of years" [value]="y">{{y}}</option>
          </select>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <select class="ui dropdown" [(ngModel)]="filterMonth" (change)="selectionChange()" name="selectmonth">
            <option *ngFor="let m of months; let i = index" [value]="i">{{m}}</option>
          </select>
        </div>
      </div>
    </div>
  </Form>
</sm-segment>
<table class="ui celled table">
  <thead>
  <tr>
    <th><span>Date</span></th>
    <th><span>Source</span></th>
    <th><span>Target</span></th>
    <th>Amount [CHF]</th>
    <th>Balance [CHF]</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tr of transactions">
    <td><strong>{{tr.date | date: 'dd.MM.yyyy'}}</strong></td>
    <td>{{tr.from}}</td>
    <td>{{tr.target}}</td>
    <td class="right aligned">{{tr.amount | number:'1.2-2'}}</td>
    <td class="right aligned">{{tr.total | number:'1.2-2'}}</td>
  </tr>
  </tbody>
</table>
Table with last 3 transactions: Source, Target, Amount[CHF], Balance [CHF]
<button>All Transactions</button>
