<md-card>
  <md-card-title>Register</md-card-title>
  <md-card-content>
    <form (ngSubmit)="doRegister(registerForm)" #registerForm="ngForm">
      <div>
        <md-input-container>
          <input mdInput pattern=".{3,}" placeholder="First name" type="text" class="form-control" required #name="ngModel" ngModel name="firstname" />
        </md-input-container>
        <div class="infoText">Please specify your first name.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput pattern=".{3,}" placeholder="Last name" type="text" class="form-control" required #name="ngModel" ngModel name="lastname" />
        </md-input-container>
        <div class="infoText">Please specify your last name.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput pattern=".{3,}" placeholder="Username" type="text" class="form-control" required #name="ngModel" ngModel name="login" />
        </md-input-container>
        <div class="infoText">Please specify your login, at least three characters.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput placeholder="Password" pattern=".{3,}" type="password" id="password" required name="password" ngModel #password="ngModel" />
        </md-input-container>
          <div class="infoText">Please specify your login, at least three characters.</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput placeholder="Password" pattern=".{3,}" isEqual="password" type="password" required #name="ngModel" name="confirmationPassword" ngModel />
        </md-input-container>
        <div class="infoText">Please confirm your password.</div>
      </div>
      <button md-raised-button color="accent">Register</button>
    </form>
  </md-card-content>
  <br />
  <span class="registeredText">Already have an account?<a class="link" (click)="goToLogin()"> Go to Login</a>&nbsp;instead.</span>
</md-card>
