nav {
  margin: 0 35px 0 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  margin-left:4px;
}

nav a {
  padding: 2px;
  color: white;
  text-decoration: none;
  background:#5c6bc0;
  font-size: 14px;
}


md-toolbar {
  min-height:80px;
}

.title {
  font-size: 30px;
}
.fill {
  flex: 1 1 auto;
}
